<div class="container">


  <section class="welcome">

  </section>

  <section class="form">
      <form action="">
        <div class="greeting">
          <span >Hello!</span>
          <span class="color-primary">Good Morning</span>
        </div>
        
        <h4 class="text-login"><span class="color-primary">Login</span> Your Account</h4>  
        <input type="text" class="input-form" placeholder="Email Addres">
        <input type="text" class="input-form" placeholder="Password">
        <div class="option-sesion">
          <div class="check">
            <input type="checkbox" class=" checkbox"> <span class="link">Remebber</span>
          </div> 
          <a href="#" class="link">Forgot Password?</a>
        </div>
        <button class="color-degrade">SUBMIT</button>
        <a href="#" class="link">Create Account</a>
      </form>
  </section>
</div>
